.cover-post {
  background-image:url(https://www.ghiencaphe.com/wp-content/uploads/2017/03/img_6298.jpg);
  height:370px;
  background-position:center;
}
.title {
  padding: 30px 0;
}
.author,
.date,
.views {
  display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}
.wp-caption {
  margin: 15px auto;
}
