.search-bar{
    margin-bottom: 15px;
}

.content .search-bar .col-md-12{
    padding-left: 0px;
    padding-right: 0px;
}

.content #list-store img{
  height: 213px;
  width: auto;
}
.box {
    margin-bottom: 20px;
    padding: 30px 15px;
    background: #fff;
    background: rgba(255,255,255,0.9);
}

.intro-text {
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: 400;
    letter-spacing: 1px;
}

.img-border {
    float: none;
    margin: 0 auto 0;
    border: #999999 solid 1px;
}

.img-left {
    float: none;
    margin: 0 auto 0;
}

/*----------------------------------------------------------------------------*/
.box-content{
    margin-bottom: 20px;
    padding: 30px 15px;
    background: #fff;
    background: rgba(255,255,255,0.9);
    /*border: 31px solid gray;*/
    /*clear: both;*/
}

@media screen and (min-width: 1200px){
    .box-content:after {
    content: '';
    display: table;
    clear: both;
    }
}

.name-place{
    font-weight: bold;
    font-size: 1.6em;
    color: black;
}
.name-place a:hover {
    text-decoration: none;
}

.address-place{
    font-size: 0.9em;
}
.info-place {
    display: block;
    margin-top: 0.5em;
    /*float: left*/
    width:inherit;
    height: 2em;
}
.info-place .three-col{
    width: 33.3%;
    float: left;
    height: 100%;
    font-size: 1em;
}
.align-right{
    text-align: right;
}

.table_district tr td{
    padding-left: 15px;
    padding-right: 15px;
}

#list-store{
    -webkit-box-shadow: 6px 6px 16px -2px rgba(0,0,0,0.37);
    -moz-box-shadow: 6px 6px 16px -2px rgba(0,0,0,0.37);
    box-shadow: 6px 6px 16px -2px rgba(0,0,0,0.37);
}
